<!--
    routerLink="/threads/{{thread._id}}"
-->
<a *ngIf="authService.isAuthenticated()" routerLink="/threads/create">create a Thread</a>

<p>
    view threads
<select class="selectpicker"> 
    <option (click)="setViewNumber(10)">10</option>
    <option (click)="setViewNumber(15)">15</option>
    <option (click)="setViewNumber(20)">20</option>
    <option (click)="setViewNumber(30)">30</option>
</select>
</p>
<ng-container *ngFor="let thread of threads">
    <div class="card border-dark mb-3">
        <div class="card-body">
            <h1 routerLink="/threads/{{thread._id}}">
                {{ thread.title }}
            </h1>
        </div>
      </div>
</ng-container>
<button (click)="prevPage()">prev </button>
<button (click)="nextPage()">next </button>